/* Make mindmap colors readable (Light mode) */
/*.theme-light .mermaid {
    --color-red: #ff7777;
    --color-orange: #ffbb99;
    --color-yellow: #ffeeaa;
    --color-green: #bbffbb;
    --color-cyan: #bbffee;
    --color-blue: #aaccff;
    --color-purple: #ddbbff;
    --color-pink: #ffcccc;
}*/

/* Make mindmap colors readable (Dark mode) */
/*.theme-dark .mermaid {
    --color-red: #933;
    --color-orange: #963;
    --color-yellow: #993;
    --color-green: #393;
    --color-cyan: #399;
    --color-blue: #339;
    --color-purple: #639;
    --color-pink: #966;
}*/
